streamlit
datetime
yfinance
google.generativeai
openpyxl
matplotlib
plotly
emoji
tabulate
langchain
langchain-core
langchain-google-genai
google-generativeai
pyspellchecker

bcrypt
extra-streamlit-components
pyjwt
psycopg2-binary
sqlalchemy
requests
python-Levenshtein
